{% extends "layout.html" %}
{% block head %}
<script type="text/javascript"
	src="{{ url_for('static', filename='htraf/htraf.js') }}"
	data-htsql-version="2"
	data-htsql-prefix="http://107.170.57.59:5000">
</script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}" />
{% endblock %}

{% block body %}
<!-- <div class="chart"
    data-widget="chart"
    data-type="pie"
    data-yint="true"
    data-title="Debits and Credits"
    data-htsql="/(categories^type) {type, sum(categories.rules.amount)}">
</div>

<div class="chart"
     data-widget="chart"
     data-yint="true"
     data-title="Number of Departments by School"
     data-htsql="/(categories^type) {type, sum(categories.rules.amount)}">
 </div> -->

<div class="chart"
    data-widget="chart"
    data-type="pie"
    data-yint="true"
    data-title="Expenses by type"
    data-htsql="/categories?type='debit'{name, sum(rules.amount)}">
</div>
{% endblock %}
